<template>
	<v-container>
	  <v-form v-model="valid" @submit.prevent="login">
		<v-container>
		  <v-layout>
			  <v-flex
				  xs12
				  md4
				>
				<v-text-field
					v-model="form.email"
					label="E-mail"
					type="email"
					required
				  ></v-text-field>
			  </v-flex>	
			  <v-flex
				  xs12
				  md4
				>
				<v-text-field
					v-model="form.password"
					label="Password"
					type="password"
					required
				  ></v-text-field>
			  </v-flex>	 
			  <v-flex
				  xs12
				  md4
				>
				 <v-btn
					color="blue"
					type="submit"
				>Login</v-btn>
			  </v-flex>
			  			  
			<v-flex
				  xs12
				  md8
				>
				<router-link to="/signup">
					<v-btn color="light-red">Sign Up</v-btn>
				</router-link>
			</v-flex>  
		  
		  </v-layout>
		</v-container>
	  </v-form>
	</v-container>  
</template>

<script>
	export default {
		data() {
			return {
				form: {
					email: null,
					password: null
				}
			}
		},
		methods: {
			valid() {},
			login() {
				User.login(this.form)
			}
		}
	}
</script>
