<template>
	<v-container>
	  <v-form v-model="valid" @submit.prevent="signup">
		<v-container>
		  <v-layout>
			  <v-flex
				  xs12
				  md8
				>
				<v-text-field
					v-model="form.name"
					label="Name"
					type="text"
					required
				  ></v-text-field>
				  <span class="red--text" v-if="errors.name">{{ errors.name[0] }}</span>
			</v-flex>		  
			<v-flex
				  xs12
				  md8
				>
				<v-text-field
					v-model="form.email"
					label="E-mail"
					type="email"
					required
				  ></v-text-field>
				  <span class="red--text" v-if="errors.email">{{ errors.email[0] }}</span>
			  </v-flex>	
			<v-flex
				  xs12
				  md8
				>
				<v-text-field
					v-model="form.password"
					label="Password"
					type="password"
					required
				  ></v-text-field>
				  <span class="red--text" v-if="errors.password">{{ errors.password[0] }}</span>
			</v-flex>
			<v-flex
				  xs12
				  md8
				>  
				<v-text-field
					v-model="form.password_confirmation"
					label="Password"
					type="password"
					required
				  ></v-text-field>
			</v-flex>	 
			<v-flex
				  xs12
				  md8
				>
				 <v-btn
					color="blue"
					type="submit"
				>Sign Up</v-btn>
			</v-flex>
			
			<v-flex
				  xs12
				  md8
				>
				<router-link to="/login">
					<v-btn color="light-red">Login</v-btn>
				</router-link>
			</v-flex>  
		  </v-layout>
		</v-container>
	  </v-form>
	</v-container>  
</template>

<script>
	export default {
		data() {
			return {
				form: {
					name: null,
					email: null,
					password: null,
					password_confirmation: null
				},
				errors: {}
			}
		},
		methods: {
			signup() {
				axios.post('/api/auth/signup', this.form)
				.then(res => User.responseAfterLogin(res))
				.catch(error => this.errors = error.response.data.error)
			}
		}
	}
</script>
