<template>
	<div>
		<toolbar></toolbar>
		<router-view></router-view>
		<app-footer></app-footer>
	</div>
</template>

<script>
    import toolbar from './ToolbarComponent'
	import AppFooter from './AppFooterComponent'
	import login from './login/LoginComponent'
	
	export default {
		components: { toolbar, AppFooter, login }
	}
</script>
